2 of 5 tests failed
## github.com/alexec/junit2md/example
### TestFailing ❌
```
    example_test.go:10: this test failed
```
0s
### TestPanic ❌
```
panic: kaboom!
/usr/local/Cellar/go/1.18.1/libexec/src/testing/testing.go:1389 +0x24e
/usr/local/Cellar/go/1.18.1/libexec/src/testing/testing.go:1392 +0x39f
/usr/local/Cellar/go/1.18.1/libexec/src/runtime/panic.go:838 +0x207
/Users/acollins8/go/src/github.com/alexec/junit2md/example/example.go:10
/Users/acollins8/go/src/github.com/alexec/junit2md/example/example_test.go:18 +0x31
/usr/local/Cellar/go/1.18.1/libexec/src/testing/testing.go:1439 +0x102
/usr/local/Cellar/go/1.18.1/libexec/src/testing/testing.go:1486 +0x35f
```
0s
## github.com/alexec/junit2md/example
### TestPassing ✅
0s
### TestSkipped ⏩️
    example_test.go:14: this test is skipped
0s
## github.com/alexec/junit2md/example/coverage(50%)
### TestCoverage ✅
0s
